<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>82E001BD-538B-491B-B675-0B7675721066</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>todo</string>
			<key>text</key>
			<string>Todo issues:  【To open】 `todo .` 【To create】 `todo new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/todo/issues/{query}</string>
		</dict>
		<key>A1B2C3D4-E5F6-G7H8-I9J0-K1L2M3N4O5P6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>idea</string>
			<key>text</key>
			<string>Idea issues:  【To open】 `idea .` 【To create】 `idea new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/idea/issues/{query}</string>
		</dict>
		<key>F3A4B2C1-D5E6-7F8G-H9I0-J1K2L3M4N5O6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>routine</string>
			<key>text</key>
			<string>Routine issues:  【To open】 `routine .` 【To create】 `routine new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/routine/issues/{query}</string>
		</dict>
		<key>L1K2J3H4-G5F6-D7S8-A9Z0-X1C2V3B4N5M6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>eye</string>
			<key>text</key>
			<string>Eye issues:  【To open】 `eye .` 【To create】 `eye new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/eye/issues/{query}</string>
		</dict>
		<key>P1O2I3U4-Y5T6-R7E8-W9Q0-M1N2B3V4C5X6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vim</string>
			<key>text</key>
			<string>Vim issues:  【To open】 `vim .` 【To create】 `vim new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/vim/issues/{query}</string>
		</dict>
		<key>Q1W2E3R4-T5Y6-U7I8-O9P0-A1S2D3F4G5H6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>decision</string>
			<key>text</key>
			<string>Decision issues:  【To open】 `decision .` 【To create】 `decision new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/decision/issues/{query}</string>
		</dict>
		<key>S1E2T3U4-P5Q6-W7O8-R9I0-T1Y2U3I4O5P6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>setup</string>
			<key>text</key>
			<string>Setup issues:  【To open】 `setup .` 【To create】 `setup new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/setup/issues/{query}</string>
		</dict>
		<key>Z1X2C3V4-B5N6-M7K8-L9J0-H1G2F3D4S5A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>buy</string>
			<key>text</key>
			<string>Buy issues:  【To open】 `buy .` 【To create】 `buy new`</string>
			<key>url</key>
			<string>https://github.com/aibeta/buy/issues/{query}</string>
		</dict>
		<key>H1O2M3E4-R5E6-P7O8-S9I0-T1O2R3Y4P5A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>home</string>
			<key>text</key>
			<string>GitHub Repositories: View all private repositories</string>
			<key>url</key>
			<string>https://github.com/aibeta?tab=repositories&amp;q=&amp;type=private&amp;language=&amp;sort=</string>
		</dict>
	</dict>
</dict>
</plist>
